@font-face{
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
}

:root {
    --main-font: Arial, Helvetica, sans-serif;
}

.imageback {
    padding: 0;
    width: 34%;
    height: 100%;
    object-fit: fill;
}

.image {
    position: absolute;
    padding: 0;
    width: 34%;
    height: 100%;
    z-index: -1;
}

.bannercontainer {
    align-content: center;
    height: 90%;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bannertext {
    opacity: 1;
    color: white;
    font-family: 'Norse Bold';
    font-size: 3em;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.bannerimage {
    opacity: 1;;
    width: 3em;
}

.footer {
    display: flex;
    height: 10%;
    color: white;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

a#author {
    color: white;
}

.signup {
    padding: 0px;
    width: 66%;
    height: 100%;
    object-fit: fill;
}

.inputcombo {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
}

.section {
    background-color: rgba(235, 235, 235);
    height: 35%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

.formsection {
    background-color: white;
    height: 30%;
}

.section, .formsection {
    padding-left: 44px;
    padding-right: 44px;
}

.innersection {
    height: 100%;
}

.inputcombo {
    padding-right: 44px;
    gap: 0px;
    margin: 5px 0px;
}

button.createaccount {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    background-color: #596D48;
    padding: 10px 40px;
    font-family: var(--main-font);
    font-weight: bold;
    color: white;
    font-size: 10pt;
    margin-top: 20px;
}

.loginbanner {
    font-family: var(--main-font);
}

a#logintext {
    text-decoration: none;
    color: #596D48;
}

h1.letsdothis {
    font-family: var(--main-font);
    color: rgba(50, 50, 50)
}

p.signuptext {
    font-family: var(--main-font);
    font-size: 18pt;
    font-weight: 600;
}

p {
    margin: 0;
}

p.loginbanner {
    margin-top: 10px;
}

div.textsection {
    vertical-align: middle;
    padding-bottom: 20px;
}

.forminput {
    font-size: 10pt;
    padding: 5px;
}

.forminput:invalid {
    font-size: 10pt;
    padding: 5px;
    border-color: red;
}

.forminput:focus {
    font-size: 10pt;
    padding: 5px;
    border-color: blue;
}

.formlabel {
    letter-spacing: 2px;
    font-size: 8pt;
    font-family: var(--main-font);
    color: rgba(130, 130, 130);
    font-weight: 700;
}

table {
    margin: 20px;
}

.bottomsection {
    box-shadow: inset 0px 8px 8px rgba(200, 200, 200);
}