@font-face{
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
}

.imageback {
    padding: 0;
    width: 34%;
    height: 100%;
    object-fit: fill;
}

.image {
    position: absolute;
    padding: 0;
    width: 34%;
    height: 100%;
    z-index: -1;
}

.bannercontainer {
    align-content: center;
    height: 90%;
}

.banner {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.bannertext {
    opacity: 1;
    color: white;
    font-family: 'Norse Bold';
    font-size: 3em;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.bannerimage {
    opacity: 1;;
    width: 3em;
}

.footer {
    display: flex;
    height: 10%;
    color: white;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

a#author {
    color: white;
}

.signup {
    padding: 50px;
    width: 66%;
    height: 100%;
    object-fit: fill;
}

.inputcombo {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
}

.